common --nosandbox_default_allow_network
common --incompatible_allow_tags_propagation

build --experimental_reuse_sandbox_directories

build --nolegacy_external_runfiles

test --incompatible_exclusive_test_sandboxed
test --build_tests_only
