# We have to use source directories at the moment fort packages,
# which can contain `build`-named files inside, so Bazel fails to glob them/
# See: https://github.com/aspect-build/rules_js/issues/1408#issuecomment-1861929140
startup --host_jvm_args=-DBAZEL_TRACK_SOURCE_DIRECTORIES=1

common --nosandbox_default_allow_network
common --incompatible_allow_tags_propagation
common --experimental_repository_cache_hardlinks
common --nobuild_runfile_links
common --noexperimental_check_external_repository_files
common --incompatible_repo_env_ignores_action_env
common --nolegacy_external_runfiles

build --incompatible_strict_action_env
build --experimental_reuse_sandbox_directories

build --nolegacy_external_runfiles

test --incompatible_exclusive_test_sandboxed
test --build_tests_only


build:buildbuddy --bes_results_url=https://app.buildbuddy.io/invocation/
build:buildbuddy --bes_backend=grpcs://remote.buildbuddy.io
build:buildbuddy --remote_cache=grpcs://remote.buildbuddy.io
build:buildbuddy --noremote_upload_local_results # Uploads logs & artifacts without writing to cache
build:buildbuddy --remote_timeout=10m

try-import %workspace%/.user.bazelrc
